@import "tailwindcss";

/* blue color -> #5171FF */

* {
  font-family: "Poppins", sans-serif;
}
/* Add to your global CSS file */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
